
<%= form_with(model:@user,local:true) do |form| %><br><br>
  <%= form.label :name, "Enter user name below" %><br>
  <%= form.text_field :name , placeholder: "Name" %><br><br>
  <%= form.label :email, "Enter user email below" %><br>
  <%= form.email_field :email , placeholder: "Email" %><br><br>
  <%= form.label :password, "Enter user password below" %><br>
  <%= form.password_field :password, placeholder: "password" %><br><br><br>
  <%= form.submit "Submit" %>
<% end %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message|%>\
  <h3><%= message %> </h3>
  <%end%>
<%end%>

